<p>
  This workshop, based on the <a href="{{site.lc_site}}">Library Carpentry</a>
  curriculum, can help you:
</p>
<ul>
  <li>automate repetitive, boring, error-prone tasks</li>
  <li>create, maintain and analyse sustainable and reusable data</li>
  <li>work effectively with IT and systems colleagues</li>
  <li>better understand the use of software in research</li>
  <li>and much more...</li>
</ul>
<p>
    For more information on what Library Carpentry teaches and why, please see the paper
    "<a href="http://doi.org/10.18352/lq.10176">Library Carpentry: software skills training for library professionals</a>".
</p>
